<div class="row" style="width: 800px;padding-left: 20px">
	<table>
		<tr>
			<th><span style="padding-left: 10px">0</span></th>
			<th><span>0</span></th>
			<th><span>0</span></th>
		</tr>
		<tr>
			<td><span>votes</span></td>
			<td><span>answers</span></td>
			<td><span>views</span></td>
		</tr>
	</table>
	
</div>